<div class="wrapper1">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        ></button>
        <a class="navbar-brand" href="#">Question Settings</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="main1">
    <div class="sidebar1">
      <nav id="sidebar1">
        <div class="sidebar-header1"></div>

        <div
          class="panel-heading"
          [routerLink]="['add-question']"
          routerLinkActive="router-link-active"
        >
          Add Questions
        </div>
        <div
          class="panel-heading"
          [routerLink]="['delete-question']"
          routerLinkActive="router-link-active"
        >
        Delete Questions
        </div>
        <div
          class="panel-heading"
          [routerLink]="['question-settings']"
          routerLinkActive="router-link-active"
        >
         Questions Settings
        </div>
        <div class="panel-heading">child1</div>
      </nav>
    </div>
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
